fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
email-validator
pwdlib[argon2]
PyJWT
python-multipart
python-dotenv
httpx

# Computer vision / sport analysis
opencv-python
opencv-contrib-python
mediapipe==0.10.21
numpy
scipy
pandas
matplotlib
torch
torchvision
ultralytics==8.4.172
rtmlib
onnxruntime
joblib
scikit-learn==1.6.1
